
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Movies - List</title>
    <link rel="canonical" href="https://getbootstrap.comhttps://getbootstrap.com/docs/5.1/examples/headers/">
<link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="headers.css" rel="stylesheet">
  </head>
  <body>

<main>
    
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/compose" class="nav-link active" aria-current="page">Publish new Movie Information here!</a></li>
      </ul>
    </header>
  </div>

  <div class="row" style="margin: 20px;">
    <% moviesArr.forEach(function(movie) { %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><%= movie.name%></h3>
            <p class="card-text"><b>Director: </b><%= movie.director%></p>
            <p class="card-text"><b>Release Year: </b><%= movie.year%></p>
            <p class="card-text"><b>Rating: </b><%= movie.rating%></p>
            <p class="card-text"><b>Genre: </b><%= movie.genre%></p>
            <p class="card-text"><b>Description: </b><%= movie.description%></p>
          </div>
        </div>
      </div>
    <% }); %>

  </div>
</main>


    <script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

      
  </body>
</html>